<h1>Hospital list</h1>

<ul>
<% @hospitals.each do |hospital| %>
    <li><a href="/doctors?hospital_id=<%=hospital.id%>"><%= hospital.name%></a></li>
    <% end %>
</ul>

<a href="/hopitals/new">Create new Hospital</a>