<h1> <%=@doctor.name%> </h1>
<div>
  <li> Speciality - <%=@doctor.specialty%> </li>
    <li> Salary  - <%=@doctor.salary%> </li>
  <li> Hospital -  <%=@doctor.hospital.name%> </li>

  </div>




    
